body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 290px;
}


.avatar {
    display: inline-block;
    perspective: 1000px;
    position: relative;
  }
  
  .avatar .avatar-inner {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
  }
  
  .avatar:hover .avatar-inner {
    transform: rotateY(180deg);
  }
  
  .avatar img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    border-radius: 50%;
  }
  
  .hover-image {
    opacity: 0;
    border-radius: 50%;
  }
  
  .avatar:hover .hover-image {
    opacity: 1;
  }
  
  .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    pointer-events: none;
  }
  
  .avatar:hover .circle {
    transform: scale(1.2);
    border-color: #f39c12;
    box-shadow: 0 0 20px rgba(243, 156, 18, 0.8);
  }
  